html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;

	/* background-color: #212529; */
}

/* .sidebar .nav li.active > a {
	background-color: #212529;
	color: #fff;
}

.sidebar .nav li.active > a > p,
.sidebar .nav li.active > a > i {
	color: #fff;
} */

@media screen and (max-width: 991px) {
	.container-fluid {
		.navbar-wrapper {
			outline: none;
		}
	}
	.navbar-toggler {
		outline: none;
		.navbar-toggler-bar {
			background-color: rgb(255, 255, 255);
			background-image: none;
		}
	}
}

.card-user .avatar {
	object-fit: cover;
}
