html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

form {
	background-color: #fff;
}

footer {
	background-color: #fff;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpoMHtD3g0BJM-3XDGEKd0H62ljxmYlAczww&s");
	background-position: center;
}

.background-doggo {
	display: block;
	position: fixed;
	top: 0;
	left: 0;

	pointer-events: none;
	z-index: -1;

	object-fit: cover;

	width: 100vw;
	height: 100vh;
}

.background-doggo[src="#"] {
	display: none;
}

.hidden {
	display: none !important;
}

nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
