<main>

	<h1>Cycation</h1>
	<div class="list">
		
	</div>	


	<form action="" method="post">
		<div>
			<label for="">Author:</label>
			<input type="text" name="author" id="">
		</div>
		<div>
			<label for="">Quote:</label>
			<input type="text" name="quote" id="">
		</div>
		<button>Add</button>
	</form>
</main>